<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Price</th>
            <th>Feature Image</th>
            <th>Published</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each Items}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.category}}</td>
            <td>{{this.price}}</td>
            <td><img src="{{this.featureImage}}" alt="{{this.title}}" width="50"></td>
            <td>{{#if this.published}}Yes{{else}}No{{/if}}</td>
            <td><a href="/Items/delete/{{this.id}}" class="btn btn-danger">Remove</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
